body {
    background-color: black;
    margin: 0;
    padding: 0;
}


#datamaps {
    max-width: 1280px;
    /* height: 500px; */
    margin: 0 auto;
}

/* .hoverinfo {
    padding: 15px !important;
    border: 2px solid gray;
    border-radius: 10px;
} */

.hoverinfo-custom span{
    display: block;
}

.hoverinfo-custom {
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    margin: 0;
    padding: 15px;
}
